4. Tintin and the Cigars of the Pharaoh.pdf
5. Tintin and the Blue Lotus.pdf
6.Tintin and the Broken Ear.pdf
7. Tintin and the Black Island.pdf
8. Tintin and the King Ottokars Sceptre.pdf
9. Tintin and the Crabs with the Golden Claws.pdf
10. Tintin and the Shooting Star.pdf
11. Tintin and the Secret of the Unicorn.pdf